@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,800&display=swap');
.brand{
    position: absolute;
    top: 12px;
    padding-right: 20px;
    padding-left: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0px;
    padding-left: 26px;
    padding-right: 30px;
    background-color: #FFFFFF;
    box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
    border-left: 54px solid #0b2b3f;
    z-index:9999;
}

h1 {
    position: absolute;
    font-size: 2vw;
    color: #213f52;
    font-family: system-ui;
    left: 417px;
    top: 17vh;
    font-weight: bolder;
    width: 33vw;
  }

  .lang-selection {
    right: 10px;
    top: calc(9vh - 91px);
    position: absolute;
    zoom: 2;
  }

.upper_block{
    background-color: #213f52;
    width: 100%;
    height: calc(6vh);
    margin: 0px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034) inset,
            0 6.7px 5.3px rgba(0, 0, 0, 0.048) inset,

            0 41.8px 33.4px rgba(0, 0, 0, 0.086) inset,
            0 100px 80px rgba(0, 0, 5, 0.12) inset;

}

.separator_block{
    height: 7px;
    background-color: #ffffff;

}

.cv_images{
    width: 50vh;
    height: 70vh;
}

.cv_carrousel{
    display: flex;
    transition: all 1s ease-in-out;
    position: relative;
}

.creation_cv {
    border: 7px solid #ebf2f6;
    overflow: hidden;
    width: 48.5vh;
    height: 70vh;
    position: absolute;
    background-color: #ffffff;
    left: 66vw;
    top: calc(20vh);
    border-radius: 20px;
    image-rendering: crisp-edges;
    box-shadow: 0.5px 0.5px 1px rgb(0 0 0 / 2%), 1px 0.9px 2.1px rgb(0 0 0 / 2%), 1.6px 1.5px 3.6px rgb(0 0 0 / 2%), 2.4px 2.3px 5.7px rgb(0 0 0 / 2%), 3.7px 3.5px 9.1px rgb(0 0 0 / 2%), 6.3px 6px 15.6px rgb(0 0 0 / 3%), 20px 19px 46px rgb(0 0 0 / 5%);
}

.cv_link{
    text-decoration: none;
    color: #e0eff3;
    left: 411px;
    top: 28vh;
    z-index: 999999999;
    position: absolute;
    background-color: #00aeef;
    font-family: 'Montserrat Alternates', sans-serif;
    border-radius: 25px;
    padding: 2vh;
    font-size: 2vw;
    transition: all 0.6s cubic-bezier(.47,1.64,.41,.8);
    box-shadow: 0.5px 0.5px 1px rgb(0 0 0 / 2%), 1px 0.9px 2.1px rgb(0 0 0 / 2%), 1.6px 1.5px 3.6px rgb(0 0 0 / 2%), 2.4px 2.3px 5.7px rgb(0 0 0 / 2%), 3.7px 3.5px 9.1px rgb(0 0 0 / 2%), 6.3px 6px 15.6px rgb(0 0 0 / 3%), 20px 19px 46px rgb(0 0 0 / 5%);
}

.cv_link:focus:not(:focus-visible){
    background-color: #00aeef;
}

.cv_link:hover{
    font-size: 2.2vw;
    color: #ffffff;
    text-decoration: none;
}


.upper_text {
    position: absolute;
    font-size: 120px;
    color: #dce4e9;
    font-family: system-ui;
    font-weight: bolder;
    top: -380px;
    width: max-content;
    transform: rotate(90deg);
    padding-left: 600px;
    margin-top: -272px;
    transform-origin: bottom left;
    border-bottom: 53px solid #dce4e9;
}

.bottom_text{
    position: absolute;
    font-size: 3vw;
    color: #213f52;
    font-family: system-ui;
    left: 417px;
    top: 52.9vh;
    font-weight: bolder;
}

.cv_description {
    position: absolute;
    font-size: 2vh;
    top: 22em;
    left: 417px;
    width: 30vw;
    text-align: justify;
}

@media (max-width: 991.98px){

    .upper_text {
      display: none;
    }

    .cv_description {
        position: absolute;
        top: 50vh;
        left: 0px;
        width: 95vw;
        margin: 10px;
    }

  

    .cv_link {
        text-decoration: none;
        color: #e0eff3;
        left: 80px;
        top: 35vh;
        z-index: 999999999;
        position: absolute;
        background-color: #00aeef;
        font-family: 'Montserrat Alternates', sans-serif;
        border-radius: 25px;
        padding: 2vh;
        font-size: 28px;
        transition: all 0.6s cubic-bezier(.47,1.64,.41,.8);
        box-shadow: 0.5px 0.5px 1px rgb(0 0 0 / 2%), 1px 0.9px 2.1px rgb(0 0 0 / 2%), 1.6px 1.5px 3.6px rgb(0 0 0 / 2%), 2.4px 2.3px 5.7px rgb(0 0 0 / 2%), 3.7px 3.5px 9.1px rgb(0 0 0 / 2%), 6.3px 6px 15.6px rgb(0 0 0 / 3%), 20px 19px 46px rgb(0 0 0 / 5%);
    }

    .cv_link:hover{
        font-size: 29px;
        color: #ffffff;
        text-decoration: none;
    }
 
    h1 {
        position: absolute;
        font-size: 28px;
        color: #213f52;
        font-family: system-ui;
        left: 5px;
        top: 21.5vh;
        font-weight: bolder;
        width: 100vw;
      }
}
