@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@500&display=swap');

.brand{
   z-index:9999;
}

.logo-img{
    width: 150px;
    margin-left: 10px;
}

h1 {
 font-size: 2em;
}

  .lang-selection {
   
  }

.upper_block{
    background-color: #213f52;
    width: 100%;
    height: calc(6vh);
    margin: 0px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034) inset,
            0 6.7px 5.3px rgba(0, 0, 0, 0.048) inset,

            0 41.8px 33.4px rgba(0, 0, 0, 0.086) inset,
            0 100px 80px rgba(0, 0, 5, 0.12) inset;

}

.separator_block{
    height: 7px;
    background-color: #ffffff;

}

.cv_images{
    width: 50vh;
    height: 70vh;
}

.cv_carrousel{
    display: flex;
    transition: all 1s ease-in-out;
    position: relative;
}

.landing_header_nav{
      margin-top: 50px;
      margin-right: auto;
}

.landing_header_nav a{
    text-decoration: none;
    font-size: 18px !important;
    color:#2e3031;
    margin: 0px 40px;
    padding: 40px;
}

.landing_header_nav a:hover{
   color:#0b2b3f;
   border-bottom: 1px solid #2e3031;
}

.landing_header_nav a:active{
    text-decoration: none;
    font-size: 18px !important;
}

.creation_cv {
    margin:auto;
    border: 7px solid #ebf2f6;
    overflow: hidden;
    width: 48.5vh;
    height: 70vh;
    background-color: #ffffff;
    border-radius: 20px;
    image-rendering: crisp-edges;
    box-shadow: 0.5px 0.5px 1px rgb(0 0 0 / 2%), 1px 0.9px 2.1px rgb(0 0 0 / 2%), 1.6px 1.5px 3.6px rgb(0 0 0 / 2%), 2.4px 2.3px 5.7px rgb(0 0 0 / 2%), 3.7px 3.5px 9.1px rgb(0 0 0 / 2%), 6.3px 6px 15.6px rgb(0 0 0 / 3%), 20px 19px 46px rgb(0 0 0 / 5%);
}

.cv_link{
    height: 74px;
    display: inline-block;
    text-decoration: none;
    color: #e0eff3;
    z-index: 999999999;
    margin: 10px;
    background-color: #00aeef;
    font-family: 'Montserrat Alternates', sans-serif;
    border-radius: 25px;
    padding: 20px;
    font-size: 20px;
    transition: all 0.6s cubic-bezier(.47,1.64,.41,.8);
    box-shadow: 0.5px 0.5px 1px rgb(0 0 0 / 2%), 1px 0.9px 2.1px rgb(0 0 0 / 2%), 1.6px 1.5px 3.6px rgb(0 0 0 / 2%), 2.4px 2.3px 5.7px rgb(0 0 0 / 2%), 3.7px 3.5px 9.1px rgb(0 0 0 / 2%), 6.3px 6px 15.6px rgb(0 0 0 / 3%), 20px 19px 46px rgb(0 0 0 / 5%);
}

.cv_link:focus:not(:focus-visible){
    background-color: #00aeef;
}

.cv_link:hover{
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    margin-top: -5px;
}


.upper_text {
    z-index: -1;
    position: absolute;
    font-size: 100px;
    color: #ffffff;
    font-family: system-ui;
    font-weight: bolder;
    top: -315px;
    width: max-content;
    transform: rotate(90deg);
    padding-left: 592px;
    margin-top: -273px;
    transform-origin: bottom left;
}


.bottom_text{
    position: absolute;
    font-size: 3vw;
    color: #213f52;
    font-family: system-ui;
    left: 417px;
    top: 52.9vh;
    font-weight: bolder;
}

.cv_description {
    font-size: 22px;
    top: 22em;
    left: 417px;
    text-align: center;
}

@media (max-width: 991.98px){

    .upper_text {
      display: none;
    }

  
    .cv_link:hover{
        font-size: 20px;
        color: #ffffff;
        text-decoration: none;
        margin-top: -5px;
    }
 
   
}


.cv-steps:not(:first-child)::after{

}

.h1_warpe{
    font-size: 24px;
}

.step_number{
    display: inline-block;
    position: relative;
    z-index: 99999;
    left: 83px;
    color: #fff;
    top: 30px;
    font-size: 54px;
}


.step_icone{
    display: inline-block;
    position: relative;
    z-index: 99999;
    left: 71px;
    color: #fff;
    top: -13px;
    font-size: 100px;
}



.landing-main{
    margin-bottom: 80px;
}

.cv-steps{
    margin: 15px;
    height: 200px;
}

.step_description_icone{
    display: inline-block;
    position: relative;
    z-index: 99999;
    left: -13px;
    color: #fff;
    top: 24px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    width: 118px;
}

.step_description{
    display: inline-block;
    position: relative;
    z-index: 99999;
    left: 11px;
    color: #fff;
    top: 98px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    width: 118px;
}

/* Circle */

.circle{
    width: 200px;
    background-color: #00aeef;
    border-radius: 50%;
    height: 200px;
    top: -159px;
    position: relative;
}


/* hexagone */


.hexagon {
    top: -90px;
    position: relative;
    width: 200px; 
    height: 115.47px;
    background-color: #00aeef;
    margin: 57.74px 0;
  }
  
  .hexagon:before,
  .hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
  }
  
  .hexagon:before {
    bottom: 100%;
    border-bottom: 57.74px solid #00aeef;
  }
  
  .hexagon:after {
    top: 100%;
    width: 0;
    border-top: 57.74px solid #00aeef;
  }